<!DOCTYPE html>
<html>
  <head>
    <title>Projects</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'main_vue' %>
  </head>

  <body>
    <v-app toolbar>
      <%= render 'layouts/header' %>
      <main>
        <v-container fluid>
          <%= yield %>
        </v-container>
      </main>
      <div v-for="(message, index) in success" :key="index">
        <success-message :message="message" :snackbar="message != null"></success-message>
      </div>
    </v-app>
  </body>
</html>
